/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*body {
    background-color: pink;
}*/

a {
    text-decoration: none;
    color: blue;
}

a:hover {
    color: white;
    background-color: rgb(169, 221, 214);
    border-radius: 70px;
    transition-duration: 1s;  
}

.checked {
    color: orange;
}

.review-container {
    display: flex;
    flex-flow: column wrap;
}

.review-tile {
    margin: 10px;
    padding: 10px;
    border: 3px solid black;
    border-radius: 25px;
}

ul { /* take out bullets and padding */
    list-style-type: none; /*takes out bullets */
    margin: 0; 
    padding: 0;
    display: block;
}

li.left {
    float: left;
    width: 10%;
}

li.right {
    float: right;
    width: 10%;
}

li {
    display: block;
    padding: 4px;
}

.nav {
    background-color: rgb(155, 160, 188);
    margin: 0px auto;
    margin-bottom: 10px;
    padding: 2.25%; 
    text-align: center;
    vertical-align: middle;
    border-radius: 20px;
}

.link-to-text-color {
    color: rgb(247, 247, 247);
}

h1 {
    color: rgb(169, 221, 214);
    font-family: Papyrus; 
    font-size: 49px; 
    font-style: italic; 
    font-variant: normal; 
    font-weight: 100; 
    line-height: 40px;
}

h3 {
    color: rgb(169, 221, 214);
    font-family: Papyrus; 
    font-size: 45x; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 400; 
    line-height: 15.4px;
}

form {
    
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

input[type=submit] {
    margin-left: auto;
    margin-right: auto;
    margin: auto;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    border: none;
    cursor: pointer;
    width: 50%;
}



label {
    
}

.error {
    background-color: red;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}