<h4>Reviews:</h4>
<div class = 'review-container'>
<% @reviews.each do |review| %>

<div class='review-tile'>
    <h4><%= link_to review.restaurant.name, restaurant_path(review.restaurant) %> <span class = "review_by">| Review by:</span> <%= link_to review.user.name, user_path(review.user) %>
    <span class = 'stars'> <% review.rating.times do  %>
        <span class="fa fa-star checked"></span>
    <% end %>
    <% if (10 - review.rating) > 0 %>
        <% (10 - review.rating).times do  %>
            <span class="fa fa-star"></span>
        <% end %>
    <% end %>
    </span>
    </h4>
    <p> <%= review.content %></p>
    <%= link_to "See Full Post and Comments", review_path(review)%>
</div>
<% end %>
</div>